.cardContainer {
  display: flex;
  flex-wrap: wrap;
  min-height: 50vh;
  background-color: rgba(0, 0, 139, 0.68);
}

.cardHeader {
  display: flex;
}

.eventCard {
  width: 65%;
  padding: 50px;
  margin: 10px;
  background-color: #fff;
  border-radius: 5px;
  background-color: rgba(0, 0, 125, 0.35);
  /* border: 2px solid black; */
}
